.header-logo{
    width: 100px;
    margin: 0 20px 0px 20px;
}
.header-small-nav{
    display: none;
}


@media (max-width:475px){
    .header-logo{
        width: 50px;
        margin: 0 10px 0px 10px;
    }
    .header-nav{
        display: none;
    }
    .header-small-nav{
        display: flex;
    }
}

.header-link{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-right: 1px;
}

.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: fixed;;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.header-searchIcon{
    background-color:orange;
    padding: 5px;
    height: 22px !important;
    object-fit: contain;
    border-radius: 0 12px 12px 0;
    font-size: 33px;
}
.header-search{
    display: flex;
    flex: 1;
    border-radius: 4px ;
}

@media (min-width:475px){
.header-nav{
    display: flex;
    justify-content: space-evenly;
}
.header-searchInput{
    height: 12px;
    padding: 10px;
    width: 100%;
    border:none;
    border-radius: 12px 0 0 12px;
}

}

.header-option{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    border: 1px solid transparent;
    padding: 2px;
}
.header-link:hover {
    border: 1px solid white;
}
.header-option-lineOne{
    font-size: 10px;
}
.header-option-lineTwo{
    font-size: 13px;
    font-weight: 700;
}
.header-optionBasket{
    display: flex;
    align-items: center;
    margin-top: 5px;
    border: 1px solid transparent;
    line-height: 25px;
}
.header-basketCount{
    margin: 0 10px;
}
.small-nav-list{
    position: absolute;
    top: 30px;
    margin-top: 2px;
    right: 0;
    background: #131921;
    padding: 0;
    list-style-type: none;
}
.small-nav-list li{
    padding: 20px;
}
.small-nav-list li:hover .header-option-small{ 
    color:#131921;
}
.small-nav-list li:hover { 
    background-color:white;
}

.header-small-nav-button{
    display: flex;
    background-color: orange;
    border: none;
    border-radius: 15px;
    padding: 5px 20px 5px 4px;
    font-size: 15px;
    align-items: center;
    line-height: 2px;
    justify-content: space-between;
}