.home-image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -70px;

}
.home-big-screen{
    max-width: 1500px;
    margin: 0 auto;
}
.home-row{
    display: flex;
    z-index: 1;
    margin:0 5px;
    

}
.home-small-screen{
    display: none;
}
@media (max-width:475px){
    .home-big-screen{
        display: none;
    }
    .home-small-screen{
        display: block;
        max-width: 1500px;
        margin: 0 auto;
    }
}