.subtotal{
    margin-top: 104px;
    background: white;
    padding: 5px;
    box-sizing: border-box;
}
.subtotal-button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111
}